body, html {
    width:100%;
    margin: auto;
}
*{
    box-sizing: border-box;
}
.wordsonleft{
    float:left;
    text-align:right;
    width:150px;

}
div.wordsonleft h4{
    margin:5px;
}
.secondJob {
    margin:auto;
    width: 650px;
    background-color: lightgray;

}


.allSelectors{
    width: 500px;
    overflow:hidden
}

div.SecondJob input{
    margin-bottom: 5px;
}
.bottomsubmit{
    width:300px;
    text-align: center;
}
div.bottomsubmit input[type=submit]{
    border-radius: 10px;
    background-color: silver;
}